body {
  /* background-image: linear-gradient(#5f3dc4, #748ffc); */
  background-repeat: no-repeat;

  font-family: "Courier New", Courier, monospace;

  letter-spacing: 10px;
}
html::-webkit-scrollbar-thumb {
  background: #262626;
}
html::-webkit-scrollbar-track {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
html::-webkit-scrollbar {
  width: 1.4rem;
}
*::selection {
  background: #262626;
}
html {
  scroll-behavior: smooth;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
}

.App-header {
  background-color: #262626;
  padding: 8px;
  overflow: visible;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 4px;
  letter-spacing: 3px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #868e96;
  color: white;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.currentMember > .Message-content .text {
  background-color: #262626;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  flex-grow: 1;
  background-color: #f7;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Input {
  background-color: #262626;
  padding-top: 25px;
}
.img-send {
  width: 15px;
  color: #4158d0;
  opacity: 50%;
}

button {
  /* padding: 0 10px; */
  font-size: 14px;
  background-color: #f7f7f7;
  color: #262626;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  opacity: 70%;
}
.sidebar-btn button {
  padding: 0 5px;
}
.img-send button {
  padding: 20px;
}
.About-wrap {
  background-color: #f7f7f7;
  max-width: 95%;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}
.content {
  /* padding: 100px; */
}
.name_break {
  text-align: left;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  border-right: #f3f3f3 3px solid;
  padding: 100px;
  /* margin-left: 60px; */
  background-color: #262626;
  color: #f3f3f3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.img-box-about {
  width: 800px;
  height: 400px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text_one {
  width: 500px;
  margin: auto 0;
}
.text_one button {
  margin-top: 15px;
  background-color: #262626;
  padding: 10px;
  border-radius: 0;
  color: #f3f3f3;
}
