body {
  /* background-image: linear-gradient(#5f3dc4, #748ffc); */
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border: 7px solid #262626;
  border-radius: 5px;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.login-form > * {
  margin-top: 2rem;
}
.login-btn {
  margin-bottom: 2rem;
  width: 6rem;
  background-color: #262626;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.login-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.img-box {
  width: 100px;
}

.login-form img:hover {
  opacity: 30%;
  cursor: pointer;
}
